header {
		@media print {
				h1 {
						margin-top: 0;
				}
		}
		p {
				margin: 5px;
		}
		text-align: center;
		address>ul>li>svg {
				margin-left: 20px;
		}
		address span {
				font-size: smaller;
		}
		ul {
				margin: 0;
				padding: 0;
				>li {
						display: inline;
						list-style-type: none;
				}
		}
}
