$breakpoint0: 1120px;
$breakpoint1: 600px;

* {
		font-family: 'courier'
}

html,
body {
		padding: 0;
		margin: {
				left: 0;
				right: 0;
				top: 0;
				bottom: 4em;
		};
}

a {
		@media print {
				color: inherit;
				text-decoration: none;
		}
}

#content {
		margin: 0 auto;
		max-width: 95%;
		@media screen and (min-width : $breakpoint0) {
				max-width: 50%;
		}
		section#technology {
				@media print {
						page-break-before: always;
				}
		}
}
