#technology {
		#languages,
		#web,
		#tools,
		#operating-systems,
		#other{
				@media screen {
						width: 33%;
						display: inline-block;
						vertical-align: top;
				}
				@media print {
						h3, ul {
								display: inline;
						}
						ul li {
								list-style: none;
								display: inline-block;
						}
						ul li::after {
								content: ", ";
								white-space: pre;
						}
						ul li:last-child:after {
								content: "";
						}
				}
		}
}
