$pipeSpacing: 0.5em;

#work-experience {
		@media print {
				hr, p {
						margin-top: 0;
						margin-bottom: 0;
				}
				.closed:after {
						content: "";
						display: table;
						clear: both;
				}
				.closed {
						.title {
								display: none;
						}
						hr {
						}
				}
		}
		section {
				padding: 5px;

				.company-name {
						display: inline;
						float: left;
						margin: 0;
						font: {
								size: small;
								weight: normal;
						}
						text-transform: uppercase;
				}
				.location::before {
						content: "|";
						margin: {
								left: $pipeSpacing;
								right: $pipeSpacing;
						}
						font: {
								size: small;
						}
				}
				.location {
						float: left;
						font: {
								size: small;
						}
						text-transform: uppercase;
				}
				.timerange {
						float: right;
						font: {
								size: small;
								style: italic;
						}
				}
				.title {
						padding: {
								top: 1em;
						}
						font: {
								size: large;
								style: underline;
						}
						text-decoration: underline;
				}
				.caret {
						display: inline-block;
						margin-left: 10px;
						@media print {
								display: none;
						}
				}
		}
}
